@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @if (ViewBag.MessageError != null)
        {
            <div class="alert alert-danger" role="alert">
               @ViewBag.MessageError
            </div>
        }
        <h1 class="display-4">Welcome to home page</h1>
    </div>
